Repository emacs-lsp/lsp-ui, pull requests merged in 2021-06, with the labels that each got.

#622 Remove custom space
  test/windows-bootstrap.el
Labels: CI

#517 [lsp-ui-sideline] Reduce calls to line-number-at-pos
  lsp-ui-sideline.el
Labels: ui-sideline

#627 Fix column calculation and displaying sideline in the first line
  lsp-ui-sideline.el
Labels: ui-sideline

#628 Delay post request to improve performance
  lsp-ui-doc.el
  lsp-ui-imenu.el
  lsp-ui-util.el
Labels: enhancement, ui-doc
