Repository emacs-lsp/lsp-ui, pull requests merged in 2021-07, with the labels that each got.

#633 Do not truncate lines, make content more impact
  lsp-ui-doc.el
Labels: ui-doc

#635 Ensure integer
  lsp-ui-sideline.el
Labels: ui-sideline

#637 Revert post command improvements
  lsp-ui-doc.el
  lsp-ui-util.el
Labels: ui-doc

#638 Update dash indentation
  lsp-ui-doc.el
  lsp-ui-imenu.el
  lsp-ui-peek.el
  lsp-ui-sideline.el
  lsp-ui.el
Labels: minor

#640 Ensure frame visible before hiding it
  lsp-ui-doc.el
Labels: bug, ui-doc

#639 Feature text scale level
  lsp-ui-doc.el
Labels: enhancement, ui-doc

#643 Wrap by paragraph
  lsp-ui-doc.el
Labels: ui-doc

#644 lsp-ui-doc--hide-frame: dont clear doc buffer on hide
  lsp-ui-doc.el
Labels: ui-doc
