Repository emacs-lsp/lsp-ui, pull requests merged in 2021-03, with the labels that each got.

#584 Improve CI process
  Makefile
  test/windows-bootstrap.el
Labels: CI

#586 Fix weird character, #585
  lsp-ui-doc.el
Labels: bug, ui-doc

#587 Fix new dash indentation
  lsp-ui-doc.el
  lsp-ui-imenu.el
  lsp-ui-peek.el
  lsp-ui-sideline.el
Labels: minor

#588 Tweak document frame
  lsp-ui-doc.el
Labels: enhancement, ui-doc

#590 render doc string with extracted language for syntax highlighting
  lsp-ui-doc.el
Labels: bug

#592 Fix document string for marked string
  lsp-ui-doc.el
Labels: minor

#595 Simplify margin logic and fix wrong alignment
  lsp-ui-sideline.el
  lsp-ui-util.el
Labels: ui-sideline

#596 Handle sideline with truncate-line disabled
  lsp-ui-sideline.el
  lsp-ui-util.el
Labels: bug, ui-sideline

#600 Clean up weird character for sideline
  lsp-ui-sideline.el
Labels: minor, ui-sideline

#602 Add Unix CI test for Emacs 27.2
  .github/workflows/test.yml
Labels: CI

#603 lsp-ui-doc--open-markdown-link: works with keyboard
  lsp-ui-doc.el
Labels: ui-doc
