Repository emacs-lsp/lsp-ui, pull requests merged in 2022-06, with the labels that each got.

#715 Fix (update) CI
  .github/workflows/test.yml
  Eask
  Makefile
Labels: CI

#718 Allow customisation for the `imenu` buffer position.
  lsp-ui-imenu.el
Labels: ui-imenu

#719 fix(align): align according to text-scale
  CHANGELOG.org
  lsp-ui-sideline.el
Labels: bug, ui-sideline

#720 docs(general): keep up the changelog and README
  CHANGELOG.org
  README.md
Labels: documentation
